<html>
	<head>
		<title>The band {{bandname|ucwords}}</title>
	</head>
	<body>
		<h1>ABOUT THE BAND {{bandname|upper}}</h1>
		<p>The band {{bandname|ucfirst}} formed in {{year_formed}}.  They've released {{number_albums}} studio albums. Some members of the band are: </p>
		<ul>
			{{bandlist}}
		</ul>
	</body>
</html>
