<html>
	<head>
		<title>A test of {{software_title|ucwords}}</title>
	</head>
	<body>
		<h1>WELCOME TO {{software_title|upper}}</h1>
		<p>This is a test of {{software_title}}.  It was written by {{author|ucwords}}, current date is {{date|M d, Y}}. It is written in {{language|upper}}.</p>
		<p>It has basic skills, such as escaping text: 
			<code>{{test_text|e}}</code>
		</p>
		<p>It supports simple functions, such as str_rot13 - {{software_title|str_rot13}} - and juggling case - {{software_title|lower}}. </p>
		<p>It supports custom functions: {{software_title|custom_function}}. </p>
		<p>It also can chain functions, such as uppercasing and rot13: {{software_title|upper|str_rot13}}. </p>
		<p>Here is a function that was dynamically added, sha1: {{random|sha1}}</p>
		<p>Here is an example of a dynamic unique identifier: [[uniqid]].</p>
	</body>
</html>
